<% title "Topics" %>
<div class="row">
	<div class="four columns">
		<h3><%= @topic.label %></h3>
	</div>
	<div class="three columns">
	  <%= link_to "List Topics", admin_topics_path(authority), :class => "nice medium radius orange button" %>
	</div>
</div>
<div class="row">
	<div id="forms">
	</div>
</div>

