<% title "Contacts" %>
<div class="row">
	<div class="three columns">
		<h2>Edit Contact</h2>
	</div>
	<div class="three columns">
	  <%= link_to "List Contacts", admin_contacts_path(authority), :class => "nice medium radius orange button" %>
	</div>
</div>

<div id="forms">
  <%= form_for :contact, :url => admin_contact_path(authority, @contact), :html => {:method=>:put, :class=>"nice"} do |f| %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>

