<% title "Contacts" %>
<div class="row">
	<div class="three columns">
		<h2>All Contacts</h2>
	</div>
	<div class="three columns">
	  <%= link_to 'Add Contact', new_admin_contact_path, :class => "nice medium radius blue button" %> </p>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<ul>
			<% if @contacts.count < 1 %>
				<li>No Contacts found</li>
			<% end %>
			<% @contacts.each do |contact| %>
			  <li><%= link_to contact.formatted_name, admin_contact_path(authority, contact) %></li>
			<% end %>
		</ul>
	</div>
</div>