development:
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: om
  suffix: dev

production:
  protocol: 'http'
  host: prod_ip
  port: 5984
  prefix: om
  suffix: prod
  username: user
  password: password
