/* -------------------------------------------
   Civic OpenMedia CSS
	 Based upon Zerb Foundation - thanks folks!
---------------------------------------------- */

/* Page Colors */
$barTextColor: white;
$barBg: #222222;
$barBorderColor: #00a5ff;
$barLinkColor: #fff;

$brandingLinkColor: #181818;

$footerTextColor: #626262;
$footerHeadingTextColor: #6f6f6f;
$footerBorderColor: #e6e6e6;
$footerLinkColor: #222222;

body { 
	padding-bottom: 60px; 
	font-family: "Droid Sans", Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.row { max-width: 1200px; }

div.branding { margin: 0 0 40px 0; padding: 30px 0 0 0; border-bottom: solid 1px #ccc; }
div.branding h1 { margin-bottom: 0; padding: 0; }
div.branding h1 a { color: $brandingLinkColor; }
div.branding h1 a:hover { color: $brandingLinkColor; }
div.branding .subheader { margin-bottom: 9px; }

div.highlight { margin-bottom: 12px; }

img.beta { position: absolute; top: 0px; right: 0px; }

/* Footer */
footer.row {
  margin-top: 80px;
  border-top: solid 1px $footerBorderColor;
  padding-top: 20px; }
footer.row h6 {
  color: $footerHeadingTextColor;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 4px; }
footer.row p {
  color: $footerTextColor;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px; }
footer.row a {
  color: $footerLinkColor; }
footer.row a:hover {
  text-decoration: underline; }

.row.display { background: #f4f4f4; margin-bottom: 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.row.display .column, .row.display .columns { background: #e7e7e7; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

/* OpenMedia bar */
#omBar {
  background: $barBg;
  border-bottom: solid 4px $barBorderColor;
  padding: 15px 20px 13px 20px; }
  
@media handheld, only screen and (max-width: 767px) {
  #omBar {
    padding-left: 20px;
    padding-right: 20px; }
}

#omBar h1, #omBar h2 {
  margin-bottom: 0;
  line-height: 1; }
#omBar h1 {
  color: $barTextColor;
  font-size: 16px;
	font-size: 1.6rem;
  font-weight: 800; }
#omBar h1 a { color: $barLinkColor; font-weight: bold; }

#omBar strong { display: block; margin: 0; padding: 0; height: 14px; line-height: 14px; position: relative; bottom: 0px; }
#omBar strong a {
  line-height: 14px;
  color: $barTextColor;
  font-weight: 600;
  padding-right: 12px;
}
#omBar strong a.button { padding: 4px 10px; font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", "Helvetica Neue", "Helvetica", Arial, sans-serif; }