<div class="four columns">
   <h6><strong>Created by iPublic.org</strong></h6>
	 <p>Civic OpenMedia is made by <%= link_to "iPublic.org", "http://www.ipublic.org/" %>, founded by experienced open data folks.</p>
</div>
 <div class="five columns">
   <h6><strong>OpenMedia site for your community?</strong></h6>
	Interested in starting an OpenMedia site for your community?
</div>
 <div class="three columns">
   <h6><strong>Need help?</strong></h6>
   Licensed under <%= link_to "GPL", "http://www.gnu.org/licenses/gpl.html" %>
   and
	<%= link_to "MIT", "http://www.opensource.org/licenses/mit-license.php" %>
</div>