<div class="row">
	<div class="twelve columns">
		<div class="branding">
			<%- if content_for?(:title) %>
				<h2><%= h(yield(:title)) %></h2>
			<%- else %>
				<h2><%= "#{current_site.label} Admin" %></h2>
				<h3 class="subheader"><%= current_site.tag_line %></h3>
			<% end -%>
		</div>
	</div>
</div>

<%- if content_for?(:header) %>
	<div class="row">
		<div class="twelve columns">
			<% yield(:header) %>
		</div>
	</div>
<% end -%>

<% if flash.count > 0 %>
	<div class="row">
		<div class="twelve columns">
			<% flash.each do |name, msg| %>
				<!-- alert-box classes: success, warning, error or blank -->
				<%= content_tag :div, msg, :class => "alert-box #{name}" %>
			<% end %>
		</div>
	</div>	
<% end %>	

