<!DOCTYPE html>
<html>
	<head>
	  <%= render :partial => 'layouts/resources' %>
	  <title>Civic OpenMedia Admin</title>
	</head>
	<body>
		<div id="container" class="container_12">
		  <header role="banner">
		    <h1 class="grid_4 push_4">Civic OpenMedia Admin</h1>
		    <div class="grid_4 pull_4">
		      <p>
						This is the left side block on top of the page
		      </p>
		    </div>
		    <div class="grid_4">
		      <p>
		        This is the right side block on top of the page
		      </p>	      
		    </div>
		  </header>
		  <div id="main" role="main">
			  <section class="grid_12">
				<%= yield %>
				</section>
			</div>
			<footer>
			</footer>
		</div><!-- id=container -->
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jquery.formalize" %>
	</body>
</html>
