<!DOCTYPE html>
<html>
	<head>
	  <%= render :partial => 'layouts/assets' %>
	  <title>Civic OpenMedia</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="container header">
				<%= render :partial => 'layouts/header_public' %>
			</div>

			<div class="container content">
				<div class="row">
					<div class="twelve columns">
						<%= yield %>
					</div>
				</div>
			</div>
		
			<footer class="row">
				<%= render :partial => 'layouts/footer_public' %>
			</footer>
		</div>
	</body>
</html>
